@charset "utf-8";
/**
 * [OElove] (C)2010-2099 oelove.com Inc.
 * Email：service@phpcoo.com，phpcoo@qq.com
 * $Id：WAP/user.css LastTime 9:16 2017/11/24 Update by cy$
*/
@charset "utf-8";

.slide_bg_d{text-align:center; padding-top:40px; margin-bottom:15px;}
.index_p{text-align:center; color:#999;}
.index_p img{vertical-align:middle;}
.index_p .op{ color:#333;}
.index_p a{text-decoration:none; background-image: linear-gradient(90deg, #ff65a1, #ff428b); display:inline-block; color:#fff; line-height:40px; width:80%; border-radius:4px; margin-bottom:10px;}





