@charset "utf-8";
/**
 * [OElove] (C)2010-2099 phpcoo.com Inc.
 * Email：service@phpcoo.com，phpcoo@qq.com
 * LastTime 18:09 2017/4/12 Design by wz $
*/


.oe_top{height:40px; width:100%; min-width:1200px; margin:0 auto; background:#f0f0f0; font-size:14px;}
.oe_topcon{width:1200px; margin:0 auto; font-size:12px;}
.oe_topcon .left{line-height:40px; height:40px; float:left;}
.oe_topcon .right{float:right; height:40px; line-height:40px;}
.oe_topcon .right .login{float:left;}
.oe_topcon .right .login a{display:inline-block; }
.oe_topcon .right .login a.a_1{background-image: linear-gradient(90deg, #ff428b, #f91e71); color:#fff; padding:0px 15px; border:1px solid #f91e71; border-radius:2px 0px 0px 2px;}
.oe_topcon .right .login a.a_2{border:1px solid #f91e71; border-radius:0px 2px 2px 0px; padding:0px 15px; color:#f91e71;}
.oe_topcon .right .login span{color:#ff3485; margin-right:5px;}
.oe_topcon .right dl{float:left; position:relative; margin-left:20px; padding-bottom:20px;}
.oe_topcon .right dl dt{position:relative; cursor:pointer;}
.oe_topcon .right dl dt i{display:inline-block; width:10px; height:16px; background:url(../../templets/default/images/bg.png) left top no-repeat; vertical-align:middle; margin-right:4px;}
.oe_topcon .right dl dd{position:absolute; right:0px; top:30px; background:#fff; padding:10px; border:1px solid #ebebeb; text-align:center; box-shadow:0px 3px 5px -3px #ccc; display:none;}
.oe_topcon .right dl dd img{width:120px; height:120px;}

.oe_nav{height:102px; width:100%; min-width:1200px; border-bottom:1px solid #ebebeb; background:#fff; margin-bottom:20px;}
.oe_navcon{width:1200px; margin:0 auto;}
.oe_navcon .logo{float:left;}
.oe_navcon .logo a{display:inline-block; vertical-align:middle;}
.oe_navcon .logo img{  vertical-align:middle; max-height:102px; }
.oe_navcon .logo img.line{height:102px; width:1px; }
.oe_navcon .menu{float:left; padding-top:30px; padding-left:80px;}
.oe_navcon .menu ul li{float:left; font-size:18px; margin-left:2px;}
.oe_navcon .menu ul li a{display:inline-block;padding:0px 32px; line-height:35px; height:35px;}
.oe_navcon .menu ul li.current a,.oe_navcon .menu ul li a:hover{background-image: linear-gradient(20deg, #ff418b, #f91e71); color:#fff;  border-radius:3px;}


 

 
























